# Core
python-dotenv
pandas
numpy

# LLM + Prompting
langchain
langchain-community
langchain-core
langchain-ollama

# Visualization
matplotlib
seaborn

# Web App
streamlit

# Utilities
tqdm
pydantic

# Kernel
ipykernel